*.log
*.sql
*.gzip
/*.php
/*.txt
/*.html
robots.txt
config/
wp-admin/
wp-includes/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/plugins/
wp-content/languages/
wp-content/themes/*
!wp-content/themes/astra/
!wp-content/themes/astra-child/
wp-content/index.php
